Source: fort-studio
Priority: optional
Maintainer: Alexandre Tuleu <alexandre.tuleu.2005@polytechnique.org>
Build-Depends: debhelper (>= 10), cmake (>=3.11), libeigen3-dev,
 qtbase5-dev, libasio-dev, libopencv-imgproc-dev,
 libopencv-imgcodecs-dev, libopencv-dev, libprotobuf-dev (>=3.3.0),
 protobuf-compiler, git, libboost-filesystem-dev, ca-certificates,
 imagemagick, librsvg2-bin, libgoogle-glog-dev, libqt5charts5-dev,
 libyaml-cpp-dev
Standards-Version: 4.5.0
Section: science
Homepage: https://github.com/formicidae-tracker/studio
Vcs-Git: https://github.com/formicidae-tracker/studio.git
Vcs-Browser: https://github.com/formicidae-tracker/studio


Package: libfort-tags-dev
Section: libdevel
Architecture: any
Depends: libfort-tags1 (= ${binary:Version}), ${misc:Depends}
Conflicts: libapriltag-dev
Description: fiducial markers for the FORmicidae Tracker - dev files
 Actual fiducial markers (tags) used for the FORmicidae Tracker
 project (https://github.com/formicidae-tracker/)
 .
 This package contains header and development files

Package: libfort-tags1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fiducial markers for the FORmicidae Tracker - runtime
 Actual fiducial markers (tags) used for the FORmicidae Tracker
 project (https://github.com/formicidae-tracker/)
  .
 This package contains library runtime

Package: libfort-hermes-cpp-dev
Section: libdevel
Architecture: any
Depends: libfort-hermes-cpp0.4 (= ${binary:Version}), ${misc:Depends}
Description: Tracking data IO for the FORmicidae Tracker - c++ dev files
 This library provides IO function to read or write tracking data from
 file or network stream for the FORmicidae Tracker project
 (https://github.com/formicidae-tracker)
 .
 This package contains c++ header and development files

Package: libfort-hermes-cpp0.4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libfort-hermes-cpp0.3
Description: Tracking data IO for the FORmicidae Tracker - c++ runtime
 This library provides IO function to read or write tracking data from
 file or network stream for the FORmicidae Tracker project
 (https://github.com/formicidae-tracker)
 .
 This package contains the library c++ runtime

Package: libfort-hermes-dev
Section: libdevel
Architecture: any
Depends: libfort-hermes0.4 (= ${binary:Version}), ${misc:Depends}
Description: Tracking data IO for the FORmicidae Tracker - c dev files
 This library provides IO function to read or write tracking data from
 file or network stream for the FORmicidae Tracker project
 (https://github.com/formicidae-tracker)
 .
 This package contains c header and development files

Package: libfort-hermes0.4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libfort-hermes0.3
Description: Tracking data IO for the FORmicidae Tracker - c runtime
 This library provides IO function to read or write tracking data from
 file or network stream for the FORmicidae Tracker project
 (https://github.com/formicidae-tracker)
 .
 This package contains the library c runtime

Package: libfort-myrmidon-dev
Section: libdevel
Architecture: any
Depends: libfort-myrmidon0.7 (= ${binary:Version}), ${misc:Depends},
 libfort-tags-dev, libfort-hermes-cpp-dev
Description: Experiment data API for the FORmicidae Tracker - dev files
 This library provides an API to access and edit experimental data for
 the FORmicidae Tracker project.
 (https://github.com/formicidae-tracker)
 .
 This package contains header and development files

Package: libfort-myrmidon0.7
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Experiment data API for the FORmicidae Tracker - runtime
 This library provides an API to access and edit experimental data for
 the FORmicidae Tracker project.
 (https://github.com/formicidae-tracker)
 .
 This package contains the library runtime

Package: fort-studio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Graphical Interface of the FORmicidae Tracker
 Graphical interface of the FORmicidae Tracker, to edit Ant Pose,
 Shape, Metadata , and experiment definition.
