#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export DEB_CFLAGS_MAINT_STRIP="-O2"
export DEB_CFLAGS_MAINT_APPEND="-O3"

%:
	dh $@

override_dh_install:
	dh_install
	cd debian/libfort-hermes-dev; find ./usr/include/fort/hermes/ -type f -exec rm -f ../libfort-hermes-cpp-dev/{} \;

override_dh_auto_test:
	dh_auto_test -- "ARGS=-E fort-studio"

override_dh_auto_configure:
	DEB_CFLAGS_MAINT_STRIP="-O2" DEB_CFLAGS_MAINT_APPEND="-O3" dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DBUILD_XDESKTOP_ENTRY=On
